{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-grid gap-2 col-6 mx-auto">
	<button class="btn btn-dark "><ion-icon name="create"></ion-icon>{{ button_label|default('Ajouter') }}</button>
</div>
   
{{ form_end(form) }}
