{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/styleSignUpLogin.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/styleUser.css') }}">
{% endblock %}
{% block body %}
<main class="form-signin card shadow-sm  ">
  <h1 class="h3 mb-3 fw-normal title text-center ">Réservation</h1>
    {{ include('reservation/_form.html.twig') }}
</main>
{% endblock %}

