{% extends 'adminBase.html.twig' %}

{% block title %}
	<title>Admin horaire |Quai Antique</title>
{% endblock %}
{% block body %}

	{% include "admin/_partials/_cards.html.twig" %}

	<div class="detailss">
		<div class="recentOrders card">
			<div class="cardHeader">
				<h2>
					<strong>
						Modifier l'horaire
					</strong>
				</h2>
				<a href="{{ path('app_admin_horaire_index') }}" class="btn">Voir les horaires</a>
			</div>

   {{ include('admin/admin_horaire/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
