{% extends 'adminBase.html.twig' %}

{% block title %}
	<title>
		Admin Galerie |Quai Antique</title>
{% endblock %}

{% block body %}
	{% include "admin/_partials/_cards.html.twig" %}
	<div class="detailss">
		<div class="recentOrders card">
			<div class="cardHeader">
				<h2>
					<strong>
						Ajouter les images</strong>
				</h2>
				<a href="{{ path('app_images_index') }}" class="btn">Liste des images</a>
				
			</div>

			{{ include('admin/admin_images/_form.html.twig') }}


		{% endblock %}
