<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}
			<title>Admin Dashboard |Quai Antique</title>
		{% endblock %}
		<!-- ======= Styles ====== -->

		<!-- font awsome CSS -->
		<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-H/K0xqyC9HhrN/M+dP25OPnb+Zx8cZJt/fZVtOUvO+zkOrI0GQj+hYsnSFr+ir9LsIyo8b4ot0Jvh4/P6FJh6w==" crossorigin="anonymous">
		<!-- Bootstrap CSS -->
		<link
		rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

		<!-- Feuilles de styles -->
		{% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('assets/css/styleAdmin.css') }}">

	</head>

	<body>
		<!-- =============== Navigation ================ -->
		<div class="container-fluid">
			{% block nav %}
				{% include "admin/_partials/_nav.html.twig" %}
			{% endblock %}
		</div>
		<!-- ========================= Main ==================== -->
		<main class="main mt-5">
			{% block body %}
				{% include "admin/_partials/_main.html.twig" %}
			{% endblock %}
		</main>
		<!-- =========== Scripts =========  -->
		<script src="{{ asset('assets/js/scripts.js') }}"></script>
		{% block scripts %}
			<!-- ====== ionicons ======= -->
			<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
			<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
		{% endblock %}
	</body>
</html>
