<!-- ======================= Cards ================== -->

	<div class="cardBox">
		<div class="card">
			<div>
				<div class="numbers">1,104</div>
				<div class="cardName">Nombre de visites</div>
			</div>

			<div class="iconBx">
				<ion-icon name="eye-outline"></ion-icon>
			</div>
		</div>

		<div class="card">
			<div>
				<div class="numbers">80</div>
				<div class="cardName">Réservation</div>
			</div>

			<div class="iconBx">
				<ion-icon name="timer-outline"></ion-icon>
			</div>
		</div>

		<div class="card">
			<div>
				<div class="numbers">84</div>
				<div class="cardName">Commentaires</div>
			</div>

			<div class="iconBx">
				<ion-icon name="chatbubbles-outline"></ion-icon>
			</div>
		</div>

		<div class="card">
			<div>
				<div class="numbers">8,942€</div>
				<div class="cardName">Revenus</div>
			</div>

			<div class="iconBx">
				<ion-icon name="cash-outline"></ion-icon>
			</div>
		</div>
	</div>
