{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/styleSignUpLogin.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/styleUser.css') }}">
{% endblock %}
{% block body %}
<main class="form-signin card shadow-sm  ">
    {{ include('resevation/_form.html.twig') }}
</main>
    <a href="{{ path('app_resevation_index') }}">back to list</a>
{% endblock %}
